<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Administracija korisnika</p>
          </div>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" routerLink="/admin/users/create">Create</a>
        <a class="card-footer-item" routerLink="/admin/users">Preview</a>
      </footer>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Administracija rola</p>
          </div>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Create</a>
        <a class="card-footer-item" routerLink="/admin/roles">Preview</a>
      </footer>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Administracija kategorija</p>
          </div>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Create</a>
        <a href="#" class="card-footer-item">Preview</a>
      </footer>
    </div>
  </div>
</div>

<hr />
<button class="button is-fullwidth" (click)="getTableEmployee()">{{btnName}}</button>
<app-table [columnData]="columnData" [dataTable]="dataTable" *ngIf="tableEmployee"></app-table>


<!-- Children routing place... -->
<router-outlet></router-outlet>
